In [27]:
import pandas as pd
base_info_feature = pd.read_csv('./base_info_feature.csv')
tax_info_feature = pd.read_csv('./tax_info_feature.csv')
annual_report_info_feature = pd.read_csv('./annual_report_info_feature.csv')

In [28]:

features = pd.merge(base_info_feature, tax_info_feature, how='left',on = 'id')
features = pd.merge(features, annual_report_info_feature, on='id',how = 'left')

In [29]:
features.head()

,id,oplocdistrict,industryphy,industryco,enttype,enttypeitem,state,orgid,jobid,adbusign,...,DISPERNUM,UNENUM,COLEMPLNUM,RETEMPLNUM,DISEMPLNUM,UNEEMPLNUM,WEBSITSIGN,FORINVESTSIGN,STOCKTRANSIGN,PUBSTATE
0,82750f1b9d1223507d25fecaca05aec1cfdf7ceb97a535f1,1,14,244,0,2,1,40,156,0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,2.0,2.0,2.0,3.000000
1,f000950527a6feb6a005c09bbd2e2696880df8cd9b350ae2,1,14,246,0,2,1,30,137,0,...,0.000000,1.500000,3.0,0.0,0.000000,1.500000,2.0,2.0,2.0,2.750000
2,f000950527a6feb6ff31ae2cda4757703f52e853bb38b67e,1,17,318,0,2,2,32,201,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,47645761dc56bb8cabcff709f67c168821d276310d6e5210,10,10,138,0,5,1,62,124,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,516ab81418ed215dcd9df1915f3a2ae8098e3589b042ee45,12,17,329,9,18,1,70,280,0,...,0.333333,0.333333,0.0,0.0,0.333333,0.666667,2.0,2.0,-1.0,2.333333

In [30]:
features = features.fillna(-1)

In [31]:
features['new_empnum'] = (features['empnum'] + features['EMPNUM'] + 1)/2.0

In [32]:
features[['id','new_empnum','empnum','EMPNUM']]

,id,new_empnum,empnum,EMPNUM
0,82750f1b9d1223507d25fecaca05aec1cfdf7ceb97a535f1,4.250000,0.0,7.500000
1,f000950527a6feb6a005c09bbd2e2696880df8cd9b350ae2,3.500000,0.0,6.000000
2,f000950527a6feb6ff31ae2cda4757703f52e853bb38b67e,0.000000,0.0,-1.000000
3,47645761dc56bb8cabcff709f67c168821d276310d6e5210,0.000000,0.0,-1.000000
4,516ab81418ed215dcd9df1915f3a2ae8098e3589b042ee45,1.666667,0.0,2.333333
...,...,...,...,...
24860,516ab81418ed215d5d6b7b02009bb27cc8da3cab054a4b03,109.000000,218.0,-1.000000
24861,216bd2aaf4d079240f5823e63d24b44dd2c58e3281b822f6,150.000000,300.0,-1.000000
24862,f000950527a6feb6b250e7a7e8e22b3f3f49e0bc2490f65e,250.000000,500.0,-1.000000
24863,d8071a739aa75a3b2a330c539bb486942c324646f0d9a240,500.000000,1000.0,-1.000000
24864,516ab81418ed215d95b014a15fb833d0535525bdd059f2f1,752.000000,1500.0,3.000000

In [33]:
features.to_csv('../feature.csv',index=False)