In [7]:
import pandas as pd
from tqdm import tqdm
tax_info = pd.read_csv('../data/train/tax_info.csv')

In [8]:
count, shapes = tax_info.shape
#空值大于0.7的列都删除掉
tax_info_clean=tax_info.dropna(thresh= count*0.7,how='all',axis=1)

In [9]:
tax_info_clean['DEDUCTION'].isnull().sum()

4960

id:企业唯一标识, START_DATE:起始时间, END_DATE:终止时间, TAX_CATEGORIES:税种, TAX_ITEMS:税目, TAXATION_BASIS:计税依据, TAX_RATE:税率, DEDUCTION:扣除数, TAX_AMOUNT:税额

808 条企业信息，差的有点多，缺失太多了，可以做一个简单的统计信息

In [10]:
groups = tax_info_clean.groupby('id')
tax_cleans = []
tax_cols = ['TAX_AMOUNT']
for name, group_info in tqdm(groups):
    tax_clean ={'id':name}
    tax_clean['TAX_NUM'] = len(group_info)
    tax_clean['HAS_TAX'] = 1.0
    for tax_col in tax_cols:
        tax_clean[f'{tax_col}_MEAN'] = group_info[tax_col].dropna().values.mean()
    tax_cleans.append(tax_clean)
tax_info_clean = pd.DataFrame(tax_cleans)

100%|██████████| 808/808 [00:00<00:00, 3654.42it/s]

In [11]:
tax_info_clean.head(20)

,id,TAX_NUM,HAS_TAX,TAX_AMOUNT_MEAN
0,216bd2aaf4d079243f3c0bd3d6d28333c790bd3aee0ddad8,46,1.0,37.562826
1,216bd2aaf4d079248a1cb9c41425810a25d29c1fc1d1c15a,4,1.0,6259.625000
2,216bd2aaf4d07924caa4f30fb76969cba69358e90e310f5e,1,1.0,2400.000000
3,216bd2aaf4d07924d90a8951ef6a87c01e2f2ec78aa14698,2,1.0,102.300000
4,47645761dc56bb8c0ee994e2cf201d523319b7160f6722f8,4,1.0,18.485000
5,47645761dc56bb8c13c6beba56cc623f3c8f120f1b2d9451,1,1.0,2.310000
6,47645761dc56bb8c176484f5aa65cca99a54a1cbd5aec3de,3,1.0,96.606667
7,47645761dc56bb8c22a3d787cc419c37bd748cb9630e098e,1,1.0,511.770000
8,47645761dc56bb8c27b5d4f1c8aa9efcc8c85f66fb559a1b,11,1.0,27840.942727
9,47645761dc56bb8c2c1538ec02d60b016a11d5592630cee5,1,1.0,27.210000
10,47645761dc56bb8c2e2a2e2964dfd57f49f7015272c094e1,2,1.0,6.740000
11,47645761dc56bb8c32e7028b77e1aea28c6a700bef73d5d5,1,1.0,30.000000
12,47645761dc56bb8c3593d574d325d27f439fd4a8f5d4c93b,2,1.0,14.960000
13,47645761dc56bb8c39cdb112f3424ee59bdf36c4c5c626ba,5,1.0,27.818000
14,47645761dc56bb8c44cae990caa278e32085a68d12e1b0c0,1,1.0,13.220000
15,47645761dc56bb8c48985104ac038842fdfb3a5e9192f346,5,1.0,515.498000
16,47645761dc56bb8c48b35ffa652ee8180efc335bbf1f0ba4,2,1.0,45.170000
17,47645761dc56bb8c57527365263b00d2f6c822de5a9dddce,1,1.0,22.960000
18,47645761dc56bb8c610951b4ff86e426c1064c998c8258bd,1,1.0,1.200000
19,47645761dc56bb8c6216e4fc602dfd5f4da3af1dd5a3c3d3,2,1.0,121.530000

In [12]:
tax_info_clean.to_csv('./features/tax_info_feature.csv',index = False)